body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#screen {
  width: 100vw;
  height: 100vh;
  background-image: url("/explosion-colored-powder-white-background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  height: 600px;
  width: 600px;
  background-color: rgb(232, 230, 224);
  opacity: 0.9;

  border-style: solid;
  border-width: 3px;
}
#game-won {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.hidden {
  display: None !important;
}

.title {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

.text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.words {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
}

.button {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
  background-size: 50% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  margin: 70px;
  text-decoration: none;
}

.centered-text {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
}

.large-padding {
  padding: 70px;
}

.small-padding {
  padding: 10px;
}

.buttons {
  color: black;
  font-size: 10px;
  padding: 30px 57px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid black;
  width: 10%;
  margin: 1%;
}

.centered-list {
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  flex-wrap: wrap;
  width: 100%;
}

.color-name {
  color: pink;
  font: 55px "Roboto Condensed";
  font-weight: bold;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#final-won-score {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 40px;
}

#final-lost-score {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 40px;
}
